a {
    text-decoration: none;
}
 a:hover{
    text-decoration: none; 
 }

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(37, 157, 238);
    transition: all 0.3s ease;
}

.myNavLinks{
    font-size: large;
}
.myNavLinks :hover {
    color: crimson;
    /*Link Colour change upon Navigation hovering*/
}

#home {
    display: flex;
    background: url("/images/web.jpg") no-repeat center;
    color: #fff;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
#profile {
    display: flex;
    background: url("/images/background.jpg") no-repeat center;
    color: #fff;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.text-1{
    font-size: 27px;
}          
.text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.text-3{
    font-size: 27px;
} 
.text-3 span{
    font-size: 30px;
    color: rgb(37, 157, 238);
} 
.text-4{
    font-size: 35px;
    margin: 5px 0;
}
.text-4 span{
    color: crimson;
}

/*===================Profile Style===========================*/
#user-profile {
    margin: auto;
    width: 50%;
    height: auto;
    border-radius: 100%;
}

.institution {
    font-size: smaller;
    color: darkcyan;
}
.subtitle {
    padding-left: 15px;
    color: darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*================Education================*/
.education-year {
    width: 10%;
}

.education-title{
    width: 25%;
}

.tbl-education tr:hover{
    color: crimson;
}

/*================Academic projects================*/
.tbl-academic-project tr:hover{
    color: rgb(37, 157, 238);
}
.tbl-academic-project .education-year {
    width: 4%;
}
.tbl-academic-project .education-title{
    width: 60%;
}
.tbl-academic-project .education-title{
    width: 30%;
}
/*================Experience================*/
.tbl-experience {
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.tbl-experience .education-title{
    width: 60%;
}

.tbl-experience tr:hover{
    color: crimson;
}
/*===============Section Highlighters=======================*/
.bg1 {
    background-color: rgb(64, 101, 126);
    width: 17%;

    border-radius: 100px;
    -webkit-border-radius: 100px;
     position: relative; 
    right: 6%;
}
.bg2{
    background-color: darkolivegreen;
    width: 17%;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    position: relative; 
    right: 6%;
}
/*Button with smooth sides
I struggled with this one and got help from FORUM @
https://stackoverflow.com/questions/52194355/css-buttons-rounded-on-one-side*/
.view-product-btn {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    /* position: relative; */
    right: 50%;
    /* bottom: 2%; */
}
.dialog-style {
    position: relative;
    left: 60%;
    transform: translate(-30%, -120%);
}

.language {
    width: 100px;
    height: 100px;
}