a {
    text-decoration: none;
}
 a:hover{
    text-decoration: none; 
 }

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(37, 157, 238);
    transition: all 0.3s ease;
}

.myNavLinks{
    font-size: large;
}
.myNavLinks :hover {
    color: crimson;
    /*Link Colour change upon Navigation hovering*/
}

#home {
    display: flex;
    background: url("/images/web.jpg") no-repeat center;
    color: #fff;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
#profile {
    display: flex;
    background: url("/images/background.jpg") no-repeat center;
    color: #fff;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.text-1{
    font-size: 27px;
}          
.text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.text-3{
    font-size: 27px;
} 
.text-3 span{
    font-size: 30px;
    color: rgb(37, 157, 238);
} 
.text-4{
    font-size: 35px;
    margin: 5px 0;
}
.text-4 span{
    color: crimson;
}

/*===================Profile Style===========================*/
#user-profile {
    margin: auto;
    width: 50%;
    height: auto;
    border-radius: 100%;
}

.institution {
    
}